html {
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,0.87);
}

body {
    color: #222;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.languages a:hover {
    text-decoration: underline;
}

.toptext:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

.top {
    padding: 0px 30px;
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    float: right;
    vertical-align: top;
    margin-top: 10px;

}
.main {
    overflow: auto;
}
.mid {
    margin: 89px 0px 0px;
    display: block;
    height: 233px;
    text-align: webkit-center;
}

.toptext {
    font-size: 13px;
    display: block;
    cursor: pointer;
}

.spacetop {
    padding: 0px 15px 0px 15px;
}

#boxcontainer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#box {
    width: 22px;
    height: 22px;
    background-color: mediumslateblue;
}
#circle {
    margin-left: 15px;
    width: 32px;
    height: 32px;
    background-color: slategray;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    color: white;
}

.center {
    text-align: -webkit-center;
}
.button {
    background-color: #f2f2f2;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    border-radius: 4px;
}

.button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: #222;
}

.button-block {
    padding-top: 18px;
    display: block;
    -webkit-appearance: none;
    width: 487px;
    height: 70px;
}

.whole {
    padding-bottom: 35px;
    font-size: small;
    display: block;
    margin-bottom: 24px;
}

.languages {
    padding-top: 10px;
}

